* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; /* O seletor universal vai tentar atribuir uma fonte para elementos que não tem fonte. Portanto, o ideal é colocar esse atributo dentro do body (se colocado lá, o CSS vai tentar estilizar apenas os elementos de texo dentro do body, não qualquer elemento). */
}

header {
    padding: 10px 150px 10px 150px; /* 10px 150px também funcionaria e é mais simples */
    background-color: #F5F5F5;
    width: 100%;
    border-bottom: 2px solid #CDCDCD;
    text-align: center;
}

/* Todos os elementos, mesmo quando inline, devem ter um tamanho. Isso elimina a necessidade de posicionar com margin ou padding */

.nav-header {
    padding-left: 500px;
    display: inline;
}

.itens-header {
    /* Em vez de padding-left no .nav-header, deveria ser usado 'text-align: right', considerando o comentário acima */
    display: inline;
}

li {
    display: inline;
    list-style-type: none;
}

.nome-principal-header {
    display: inline;
    color: black;
}

.link-header {
    color: black;
}

main {
    border-bottom: 2px solid #FFFFFF;
}

h1 {
    padding: 40px 20px 10px 20px;
    /* Para espaço em textos, o ideal é que o elemento de cima empurre o elemento de baixo */
    /* Além disso, para textos, o posicionamento do entorno é feito, preferencialmente, por margin */
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 28px;
    padding-bottom: 10px;
}

h3 {
    padding: 10px 20px 20px 20px;
    /* Para espaço em textos, o ideal é que o elemento de cima empurre o elemento de baixo (lembrando que eu misturei h2 e h3 no HTML - ver comentários lá) */
    /* Além disso, para textos, o posicionamento do entorno é feito, preferencialmente, por margin */
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.espacador {
    height: 200px;
}

.area-informativa {
    border-top: 2px solid #CDCDCD;
    display: block;
    background-color: #F5F5F5;
    padding: 8px;
    /* text-align não deve ser usado para alinhar elementos de bloco (ainda que visualmente funcione) */
    text-align: center;
}

/* As propriedades abaixo fazem com que os elementos de bloco dentro do container fiquem centralizados */
.container {
    width: 86%;
    margin: 0 auto;
}

.bloco-informativo {
    display: inline-block;
    border: 2px solid #CDCDCD;
    width: 300px;
    height: 250px;
    padding: 10px;
    margin: 20px;
    text-align: left;
}

footer {
    display: block;
    padding: 10px;
    background-color: #F5F5F5;
    width: 100%;
    text-align: center;

}
